*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}



section#Hero, section#footer {
    background-color: #1F2937 ;
    color: #F9FAF8;
}

.header{
    display:flex;
    justify-content: center;
    padding:20px;
    
}

.navbar {
    width: 1024px;
    padding:3px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav-items ul {
    list-style: none;
}

.nav-links {
    display: flex;
    
    justify-content: space-between;
}

.nav-links li {
    margin-left: 30px;
    
}

.header-content {
    padding: 10px;
    margin-top: 40px;
    display:flex;
    justify-content: center;
    
}

.content {
    width: 1024px;
    display: flex;
    justify-content: space-between;
    
}

.image img {
   width: 100%;
    height: auto;
    margin-left: auto;
}


